global auth_key, default_origin, default_destination, aliases

# Authorisation key to use. Refer to vasttrafik.se on how to obtain one.
auth_key = 'put your authorization key here'
# Some abbreviation for commonly used destinations
aliases = {'bp': "Brunnsparken",
           'kv': "Korsvägen",
           'jt': "Järntorget"}
# Default point of origin
default_origin = "Brunnsparken"
# Default destination
default_destination = "Chalmers"
